/*The whole game board*/

.gameBoard {
    width: 680px;
    border: 1px solid black;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*Starting the highest section*/

.topBoard {
    position: relative;
    width: 650px;
    padding: 10px;
    overflow: hidden;
}


/*Starting the stats section*/

.Stats {
    width: 200px;
    float: left;
    border: 2px solid black;
    padding: 15px;
    text-align: center;
}


/*Ending the stats section*/


/*Starting location section*/

.location {
    position: absolute;
    top: 50%;
    -ms-transform: translate(95%, -50%);
    transform: translate(95%, -50%);
    float: right;
    margin: auto;
    width: 300px;
    border: 2px solid black;
    padding: 15px;
    text-align: center;
    overflow: hidden;
}


/*Ending Location*/


/*Ending the highest section*/


/*Starting the middle section*/

.middleBoard {
    width: 650px;
    padding: 10px;
    overflow: hidden;
}


/*Starting Inventory*/

.inventory {
    display: block;
    height: 100px;
    width: 250px;
    float: left;
    border: 2px solid black;
    padding: 15px;
    overflow: scroll;
}


/*Starting Messages*/

.messages {
    display: block;
    height: 100px;
    float: right;
    width: 300px;
    border: 2px solid black;
    padding: 15px;
    overflow: hidden;
    overflow: scroll;
}


/*Ending Messages*/


/*Ending middle Section*/


/*Starting Bottom section*/

.bottomBoard {
    position: relative;
    width: 650px;
    padding: 10px;
    overflow: hidden;
}


/*Starting quests section*/

.quests {
    display: block;
    width: 250px;
    height: 200px;
    float: left;
    border: 2px solid black;
    padding: 15px;
    overflow: scroll;
}


/*Starting clickable section*/

.clickable {
    position: absolute;
    top: 50%;
    -ms-transform: translate(95%, -50%);
    transform: translate(95%, -50%);
    float: right;
    width: 300px;
    padding: 15px;
    overflow: hidden;
}

.left-bottom {
    float: left;
}

.weapon {
    float: left;
    overflow: hidden;
}

.potion {
    float: right;
    overflow: hidden;
}


/*starting directions section*/

.directions {
    width: 260px;
    border: 3px solid black;
    padding: 15px;
    overflow: hidden;
}


/*ending directions section*/


/*starting northButton section*/

.northButton {
    position: relative;
    width: 222px;
    padding: 15px;
    overflow: hidden;
}

.north {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*ending northButton section
starting middleButtons Section (east/west)*/

.middleButtons {
    width: 222px;
    padding: 15px;
    overflow: hidden;
}


/*ending middleButtons Section
starting southButton section*/

.southButton {
    position: relative;
    width: 222px;
    padding: 15px;
    overflow: hidden;
}

.south {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.east {
    float: left;
    overflow: hidden;
}

.west {
    float: right;
    overflow: hidden;
}


/*ending southButtons Section
ending directions section
starting bottombuttons Section*/

.bottomButtons {
    width: 300px;
}


/*starting usable-dropdown section*/

.useable-dropdown {
    width: 250px;
    border: 3px solid black;
    padding: 15px;
    overflow: hidden;
}


/*ending usable-dropdown section
starting usable-button section*/

.useable-button {
    width: 250px;
    padding: 15px;
    overflow: hidden;
}


/*ending usable-button section
ending bottomButtons section
ending bottomBoard section
ending gameBoard Section*/