<h2>{{player.name}}</h2>
<div class="Stats">
        <div><span>Current Hit Points: </span>{{player.currentHitPoints}}</div>
        <div><span>Maximum Hit Points: </span>{{player.maximumHitPoints}}</div>
        <div><span>Gold: </span>{{player.gold}}</div>
        <div><span>Experience Points: </span>{{player.experiencePoints}}</div>
        <div><span>Level: </span>{{player.level}}</div>
</div>

<div class="inventory">

</div>

<div class="quests">

</div>

<div class="location">
        <tr *ngFor="let currentPlace of player.CurrentLocation">
                <td>{{currentPlace.Name}}</td>
        </tr>
</div>

<div class="messages">

</div>

<div class="directions">

</div>

<div class="useable-dropdown">

</div>

<div class="useable-button">

</div>